extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Marcel

        p Full Stack JavaScript Developer


        .about-bio

          p I am a aspiring full-stack JavaScript developer and life long lerner, JS and the concept of computer science and its practice in software development are my distinct passion, I put my heart into every piece of code I write! 


      .skills-contact-box.box
        h6 Skills

        ul
          li Python
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 063 253 0008
          li marcelkpalmer@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/marcel-palmer-b4bba4212/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/Marcelckp', target='_blank') GitHub
        a.btn-link(href='https://twitter.com/marcelckpalmer', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back