extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Marcel Palmer

        p Full Stack JavaScript Developer

        .about-bio

          p I am a aspiring full-stack JavaScript developer and life long lerner, JS and the concept of computer science and its practice in software development are my distinct passion, I put my heart into every piece of code I write! This mentality drives me to bettering myself and my knowledge and skills in development, learning different languages and perfecting other. Im a 21 year old that loves video games, technology, communicating/socializing and help others in any way possible. The way I se it the more people I help in the world the more informed the world will be, I currently stay in a developing country were people aren't as informed as they should be on certain topics and technologies so I try my honest best to inform them and lend a helping hand where ever I can.


      .skills-contact-box.box
        h6 Skills

        ul
          li Python
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 063 253 0008
          li marcelkpalmer@gmail.com

        a.btn-link(class = 'btn-linkedIn', href='https://www.linkedin.com/in/marcel-palmer-b4bba4212/', target='_blank') LinkedIn
        a.btn-link(class = 'btn-github', href='https://github.com/Marcelckp', target='_blank') GitHub
        a.btn-link(class = 'btn-twitter', href='https://twitter.com/marcelckpalmer', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back