extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together! 

    p These are the projects i've created and worked on in the past couple of months, were i've utilized Js and other technologies.


  article.portfolio-project-thumbs
    .projects-box.box.grid

  each i in dataP
    .cell
      a(href=`/projects/${i.id}`)
        img.thumbnail(src=`${i.image_url.thumbnail}` alt=`${i.project_name}`)
        h5= `${i.project_name}`

