<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='static/images/profile-photo.jpg', alt='')
        .dev-intro-box

          h5 Marcel Palmer

          p Hey, I'm a very passionate software developer! and detailed problem solver in my everyday life, I love to learn and give a helping hand to people that need/want help with any issues, but my main problems I enjoy solving are bugs in my code and others code bases, I also help others on discord groups and mentorship programs to learn and spread the knowledge that I have.
          br
          a(href ='https://twitter.com/marcelckpalmer', target ='_blank')
            img.icon(src='../static/images/twitter.png')
          a(href ='https://www.linkedin.com/in/marcel-palmer-b4bba4212/', target ='_blank')
            img.icon(src='../static/images/linkedin.png')
          a(href='https://github.com/Marcelckp', target ='_blank')
            img.icon(src='../static/images/github.png')
          br
          a(href='/about') Learn More &rarr;
          

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Marcel Palmer

      block content

  script(src='/static/js/script.js')