extends layout.pug

block content 
    style(type='text/css').
        .header {
            background-color: tomato
        }
    h1 404 ERROR 
    h2 Oops! It seems as if the page you're looking for does not exist
    h4= err.message
    a(href='/') Click me to return to the home page!
    br
    h4 For developers to use 
    pre= err.stack